* {
	margin: 0;
	padding: 0;
	font-family: '微软雅黑', Arial, Helvetica, sans-serif;
}

body {
	min-width: 320px;
	border-left: 1px solid #808080;
	border-right: 1px solid #808080;
}

/* 宽>高 (电脑) */
@media (orientation: landscape) {
	body {
		width: 400px;
		margin: auto;
	}
}

/* 宽<=高 (手机) */
@media (orientation: portrait) {
	body {
		border: 0;
		width: 100vw;
		overflow-x: hidden;
	}
}

/* 极窄情况下启用进度条 */
@media (max-width: 320px) {
	body {
		overflow-x: auto;
	}
}

h1#title {
	margin: 24px;
	font-size: 24px;
}

div#container {
	height: 256px;
}

div#header {
	height: 56px;
	padding: 18px;
}

div#header h1 {
	color: #FFFFFF;
	font-weight: normal;
	font-size: 24px;
}

div#header h2 {
	color: #FFFFFF;
	font-weight: normal;
	font-size: 16px;
}

div#buttons {
	height: 40px;
	margin: 16px 0;
	text-align: center;
}

div.button {
	width: 108px;
	height: 40px;
	margin: 0 8px;
	font-size: 20px;
	transition: 0.1s;
	color: #FFFFFF;
	line-height: 40px;
	text-align: center;
	border-radius: 4px;
	display: inline-block;
	border: 1px solid #808080;
	-webkit-user-select: none;
	user-select: none;
}

input#name {
	height: 40px;
	font-size: 20px;
	text-align: center;
	border-radius: 4px;
	margin-bottom: 12px;
}

ul#list li {
	height: 40px;
	display: flex;
	padding: 0 16px 0 8px;
	justify-content: space-between;
	border-bottom: 1px solid #808080;
}

ul#list li span {
	height: 40px;
	font-size: 16px;
	line-height: 40px;
}

p#ps {
	text-align: center;
}

i {
	font-style: normal;
}

@media (prefers-color-scheme: light) {

	body,
	input#name {
		background-color: #FFFFFF;
	}

	h1#title,
	input#name {
		color: #000000;
	}

	div.button,
	div#header {
		background-color: #0080FF;
	}

	div.button:hover {
		background-color: #0072FF;
	}

	p#ps,
	ul#list li span {
		color: #808080;
	}
}

@media (prefers-color-scheme: dark) {

	body,
	input#name {
		background-color: #333333;
	}

	h1#title,
	input#name {
		color: #FFFFFF;
	}

	div.button,
	div#header {
		background-color: #990066;
	}

	div.button:hover {
		background-color: #993366;
	}

	p#ps,
	ul#list li span {
		color: #CCCCCC;
	}
}