* {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}

body {
	height: 100vh;
}

/* 宽>高 (电脑) */
@media (orientation: landscape) {
	body {
		width: 400px;
		margin: auto;
	}
}

/* 宽<=高 (手机) */
@media (orientation: portrait) {
	body {
		width: 100vw;
		overflow-x: hidden;
	}
}

h1#title {
	margin: 24px;
	font-size: 24px;
}

div#container {
	height: 256px;
}

div#querybtn,
div#back {
	width: 108px;
	height: 40px;
	color: white;
	display: block;
	font-size: 20px;
	margin-top: 8px;
	transition: 0.1s;
	line-height: 40px;
	margin: 24px auto;
	user-select: none;
	text-align: center;
	border-radius: 4px;
	border: 1px solid gray;
	background-color: #0080FF;
}

div#querybtn:active,
div#back:active {
	box-shadow: none;
	background-color: #0072FF;
}

div#querybtn:hover,
div#back:hover {
	background-color: #0064FF;
}

input#name {
	height: 40px;
	font-size: 20px;
	text-align: center;
	border-radius: 4px;
}

ul#list li {
	height: 40px;
	padding: 0 16px 0 8px;
	display: flex;
	justify-content: space-between;
	border-left: 1px solid darkgray;
	border-right: 1px solid darkgray;
	border-bottom: 1px solid darkgray;
}

ul#list li span {
	height: 40px;
	color: gray;
	font-size: 16px;
	line-height: 40px;
}

p#ps {
	color: gray;
	text-align: center;
}

i {
	font-style: normal;
}