* {
	margin: 0;
	padding: 0;
	font-style: normal;
	font-family: '微软雅黑', Arial, Helvetica, sans-serif;
}

body {
	min-width: 320px;
	border-left: 1px solid #666;
	border-right: 1px solid #666;
}

h1#title {
	margin: 24px;
	font-size: 24px;
}

div#container {
	height: 256px;
}

div#header {
	height: 56px;
	padding: 18px;
}

div.button,
div#header h1,
div#header h2 {
	color: #fff;
	font-weight: normal;
}

div#header h1 {
	font-size: 24px;
}

div#header h2 {
	font-size: 16px;
}

div#buttons {
	height: 40px;
	margin: 16px 0;
	text-align: center;
}

div.button {
	width: 108px;
	height: 40px;
	margin: 0 8px;
	font-size: 20px;
	transition: 0.1s;
	line-height: 40px;
	text-align: center;
	border-radius: 4px;
	display: inline-block;
	border: 1px solid #666;
	-webkit-user-select: none;
	user-select: none;
}

input#name {
	height: 40px;
	font-size: 20px;
	text-align: center;
	border-radius: 4px;
	margin-bottom: 12px;
}

ul#list li {
	height: 40px;
	display: flex;
	padding: 0 16px 0 8px;
	justify-content: space-between;
	border-bottom: 1px solid #666;
}

ul#list li span {
	height: 40px;
	font-size: 16px;
	line-height: 40px;
}

p#ps {
	text-align: center;
}

/* 宽>高 (横屏) */
@media (orientation: landscape) {
	body {
		width: 400px;
		margin: auto;
	}
}

/* 宽<=高 (竖屏) */
@media (orientation: portrait) {
	body {
		border: 0;
		width: 100vw;
		overflow-x: hidden;
	}
}

/* 极窄时重启横向滚动条 */
@media (max-width: 320px) {
	body {
		overflow-x: auto;
	}
}

@media (prefers-color-scheme: light) {

	body,
	input#name {
		background-color: #fff;
	}

	p#ps,
	ul#list li span,
	input#name::placeholder {
		color: #999;
	}

	h1#title,
	input#name {
		color: #000;
	}

	div.button,
	div#header {
		background-color: #09f;
	}

	div.button:hover {
		background-color: #06f;
	}
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: #333;
	}

	input#name {
		background-color: #666;
	}

	p#ps,
	ul#list li span,
	input#name::placeholder {
		color: #ccc;
	}

	h1#title,
	input#name {
		color: #fff;
	}

	div.button,
	div#header {
		background-color: #06c;
	}

	div.button:hover {
		background-color: #03c;
	}
}