* {
	margin: 0;
	padding: 0;
	font-style: normal;
	text-align: center;
	font-family: '微软雅黑', Arial, Helvetica, sans-serif;
	-webkit-user-select: none;
	user-select: none;
}

body {
	height: 100vh;
	min-width: 324px;
	overflow-x: hidden;
}

body::-webkit-scrollbar {
	display: none;
}

h1#title {
	margin: 8px;
	font-size: 24px;
}

div#header {
	height: 56px;
	padding: 18px;
}

div.btn,
div#header h1,
div#header h2 {
	color: #fff;
	font-weight: normal;
}

div#header h1,
div#header h2 {
	text-align: left;
}

div#header h1 {
	font-size: 24px;
}

div#header h2 {
	font-size: 16px;
}

ul#list {
	border: 0;
}

div#buttons {
	height: 40px;
	margin: 16px 0;
}

div#row {
	display: flex;
	justify-content: space-between;
}

div.btn,
select#exams {
	width: 108px;
	height: 40px;
	margin: 0 4px;
	cursor: pointer;
	font-size: 20px;
	transition: 0.1s;
	line-height: 40px;
	border-radius: 8px;
	display: inline-block;
}

input#name {
	width: 226px;
	height: 40px;
	font-size: 20px;
	border-radius: 4px;
	margin-bottom: 12px;
	-webkit-user-select: text;
	user-select: text;
}

select#exams {
	font-size: 16px;
	background: linear-gradient(to bottom, #fff 75%, #ccc);
}

select#exams:hover {
	background: linear-gradient(to bottom, #eee 75%, #bbb);
}

ul#list li {
	height: 40px;
	display: flex;
	padding: 0 8px;
	justify-content: space-between;
}

ul#list li span {
	height: 40px;
	font-size: 16px;
	line-height: 40px;
}

p.ps {
	left: 0;
	width: 100%;
	bottom: 16px;
	text-align: center;
}

@media (prefers-color-scheme: light) {
	body {
		background-color: #fff;
	}

	ul#list {
		border: 0px solid #999;
	}

	input#name {
		border-top: 0;
		background-color: #fff;
	}

	p.ps,
	ul#list li span,
	input#name::placeholder {
		color: #999;
	}

	h1#title,
	input#name {
		color: #000;
	}

	div#header {
		background-color: #06f;
	}

	div.btn {
		background: linear-gradient(to bottom, #06f 75%, #03F);
	}

	div.btn:hover {
		background: linear-gradient(to bottom, #05f 75%, #02F);
	}

	ul#list li {
		border-bottom: 1px solid #999;
	}
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: #333;
	}

	ul#list {
		border: 0px solid #666;
		border-top: 0;
	}

	input#name {
		background-color: #666;
	}

	p.ps,
	ul#list li span,
	input#name::placeholder {
		color: #ccc;
	}

	h1#title,
	input#name {
		color: #fff;
	}

	div#header {
		background-color: #06c;
	}

	div.btn {
		background: linear-gradient(to bottom, #06c 75%, #03c);
	}

	div.btn:hover {
		background: linear-gradient(to bottom, #05c 75%, #02c);
	}

	ul#list li {
		border-bottom: 1px solid #666;
	}
}

/* 宽 > 高 (横屏) */
@media (orientation: landscape) {
	body {
		width: 400px;
		margin: auto;
		border-bottom: 0;
	}

	ul#list {
		border-width: 1px;
	}
}

/* 极窄时重启横向滚动条 */
@media (max-width: 320px) {
	body {
		overflow-x: auto;
	}
}